/*
-- En css tenemos varios tipos de selector.

Estructura basica de css
selector{
	lineal al final;
	propiedad: valor;
	propiedad: valor;
	propiedad: valor;
	propiedad: valor;
	
	Css no distingue entre mayus/minus en propiedades.
	color
	COLOR
	
	si distingue entre mayus/minus en el nombre del file.Css
	style.Css
	STYLE.css
	
}
1.- Selector de elemento (selector de etiqueta)
solo requiere que se indique cual es la etiqueta html que se desea aplicar con diseño
body{}
h1 {}
h3 {}
h4 {}
p {}

2.- Selector de clase (inicia con un punto)
Mayoria de framework usan este tipo de selector
Que al inicio de la etiqueta/selector en CSS inicia con un punto, es un selector de clase
Los selectores de clase son de su propia eleccion
	CSS:
		.Titulo{}
		.Cuerpo{}
		.Ficha{}
	HTML:
		<p> 
			class="cuerpo" texto que aparece en pantalla
		</p>
	Debe ser el mismo que se puso en HTML y en CSS
	
	Diferencias:
	Varios elementos/etiquetas HTML pueden aplicar la misma clase
	
3.- selector ID (se antepone el #)
-Cuando se asigna/relaciona con un ID unico a una etiqueta/elemento HTML
	CSS:
		#Titulo{}
		#Cuerpo{}
		#Ficha{}
	HTML:
		<p id="cuerpo"> 
			class="cuerpo" texto que aparece en pantalla
		</p>
	
	Diferencias:
	Solo un elementos/etiquetas HTML pueden aplicar esa clase

4.- Selector combinado o selector descendiente(donde especifica la etiqueta HTML por niveles)
 Aplicar el estilo a la etiqueta especifica que está dentro de otra etiqueta principal
	1.- aplique el estilo a la etiqueta h3 que solo presentan los titulos de las listas
	li -- background: green
	
	Aplicar el estilo SOLO a los elementos de la Lista ordenada.
	CSS:
		div h1{
			background: red;
		}
	
	HTML:
		<body>
			<h3>Practica de Listas</h3>
			<div>
				<h3>Listas Ordenada</h3>
				<ol>
					<li></li>
					<li></li>
					<li></li>
				</ol>
				<h3>Lista No Ordenada</h3>
				<ul>
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<h3>Lista No Ordenada</h3>
				<h3>Lista No Ordenada</h3>
				<h3>Lista No Ordenada</h3>
				<h3>Lista No Ordenada</h3>
			</div>
			<div>
				<h3>Listas Ordenada</h3>
				<ol>
					<li></li>
					<li></li>
					<li></li>
				</ol>
				<h3>Lista No Ordenada</h3>
				<ul>
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<h3>Lista No Ordenada</h3>
				<h3>Lista No Ordenada</h3>
				<h3>Lista No Ordenada</h3>
				<h3>Lista No Ordenada</h3>
			</div>
		</body>





----------------------------------------------
==============================================
----------------------------------------------

Si yo deseo aplicar el mismo formato/estilo en carios segementos de la pagina lo puedo hacer
1.- Selector de etiqueta.
2.- Selector de clase.
Pero debe de validar el diseño que le demande mucho menos cambios, es decir forma generica
Buscamos la optimización.
----------------------------------------------
==============================================
----------------------------------------------

Ejercicio;
	1.- yo quiero que en mi página web en todos los lugares donde tengo la etiqueta <p> se apliqie
	el mismo fondo. ¿como lo haría?
	opc 1: selector de elemento, 2: selector de clase
	
	2.- Solo en las etiquetas p que esten en el body de la PW
	¿como lo haría?
	opc 1: selector de clase, crear la clase y asignarla a las etiquetas que solo
	estan en el body
	
	3.- Solo en las etiquetas P que representen definiciones de conceptos
	¿como lo haría?
	opc 1: selector de ID #
----------------------------------------------
==============================================
----------------------------------------------

1.- Box Model - Modelo de cajas
Todo elemento HTML se presenta como una caja
texto para escribir el nombre
boton para presionar
imagen

1.- content - contenido
2.- padding - relleno interno
3.- border  - bordes del elemento
4.- margin - Espacio interno

sirve para controlar el espacio y tamaño que ocupa cada elemento

*-----------------**-----------------*
*-----------------*|     Margin      |  Espacio fuera del borde, el espacio entre cajas y cajas
*-----------------*|                 |


*-----------------*
|     Margin      |  Espacio fuera del borde, el espacio entre cajas y cajas
|                 | 
|*-----------------*
||     Border      |  Linea que rodea el Padding
||                 |
||*-----------------*
|||      Padding    |  Espacio entre el contenido y el borde
|||                 |
|||*-----------------*
||||      content    |  El contenido real (text, img, audio, etc)
||||                 |
||*-----------------*
||                 |
||                 |
|*-----------------*
|                 |
|                 |
*-----------------*
    
Teoria 4 (mejor explicación)

.caja{
	width: 300px;
	Padding: 20px; 
	borde: 5px solid black;
	Margin: 0px;
	
}

Ancho de una pagina: %, Px,
Recomendacion: No siempre hay que forzar a que sea una sola medida
20%						 40%
	+-----------+		 +-----------+
10% |			|10% 10% | 		 	 |
10% |			|10% 10% |			 |
10% |			|10% 10% |			 |
	+-----------+		 +-----------+

----------------------------------------------
==============================================
----------------------------------------------

display: define como debe de comportarse un elemento dentro de la página.
	- da instrucciones al navegador sobre el elemento y los demás.
	- display es la propiedad
	- valor no son numero o valores aleatorio, los valores qie se puede asignar a un display son valores predefinidos
	
display:
	-block: ocupa toda la Linea
	-inline: lo presenta todo en la misma linea -- aplica a texto
	-inline-block: lo mismo, en ancho y alto -- aplica a botones, icon
	-none: oculta el elemento -- menu
	-flex: contenedor se vuelve flexible -- 10px -10%
	-grid: cuadriculas
	-table: simula ser una tabla
	
propiedad box-shadow: sombra
	parametro:
	1.- Desplazamiento horizontal - hacia los lados
	2.- Desplazamiento horizontal - hacia bajo
	3.- difuminado - la explicación de la sombra
	4.- rgba (0,0,0,0.2)- color de la sombra en los colores primarios, tonalidad/opacidad o transparencia
	valores:
	
	div{
		box-shadow: 0, 5px, 10px.(0,0,0,0.2)
	}
	
valor sticky: definir comportamiento del elemento, puede ser, fijo o estatico.
	position: sticky
	
propiedad: Top, right, bottom, left

	.cajaTexto{
		box-shadow: 0, 5px, 10px.(0,0,0,0.2);
		position:sticky;
		top:0;
		right:0;
	}

propiedad z-index : nos permite posicionar el elemento por encima de los demás (capas)
	.cajaTexto{
		box-shadow: 0, 5px, 10px.(0,0,0,0.2);
		position:sticky;
		top:0;
		right:0;
		z-index:100;
	}

	

----------------------------------------------
==============================================
----------------------------------------------
*/
/* Reset básico */
*{
	Margin:0;
	Padding:0;
	box-sizing: border-box;
}

/*Fuente exter - Google Fonts*/
.bbh-sans-bogle-regular {
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}



/* 1.- selecto */
body{
	font-family: 'comic sans ms','Montserrat','sans-serif';
	background: linear-gradient(135deg, #e0f7f4 0%, #cce3dc 100%);
	color: #333;
	line-height: 1.6;
}

header{
	background: #003366;
	color: white;
	Padding: 15px;
	box-shadow: 0, 5px, 10px, rgba(0,0,0,0.2);
	position:sticky;
	top:0;
	z-index:100;
	
}

header nav a{
	COLOR: white;
	text-align: center;
	text-decoration: none;
	margin: 0 8px;
	padding: 5px 10px;
}

nav{
	transition: background 0.3s;
}

.caja{
	background: #D3D3D3;
	width: 30%;
	Padding: 5px;
	border: 5px solid blue;
	margin: 10px;
	justify-content: center;
	text-align: left;
}

.comportamiento{
	display: flex;
	background: lightblue;
	margin: 10px;
	padding: 5px;
}

main{
	max-width:90%;
	margin:30px;
	padding:0px;
}
button{
	padding:10px,20px;
	Margin:10px;
	border:none;
	background:#003366;
	color:white;
	border-radius:5px;
	font-weight: bold;
	cursor:pointer;
	transition: background 0.3s, transform 0.2s;
}
nav a:hover{
	background: white;
	color: black;
	border-radius:5px;
	transform: scale(1.05);
}

button:hover{
	background: #0055a5;
	transform: scale(1.05);
}

button.btn{
	background: yellow;
	color:blue;
	transform: scale(1.05);
}

h1,h2,h3{
	margin-bottom:20px;
	color:#F54927;
}

.titulo{
	text-align: center;
	color: red;
	text-transform:uppercase;
	animation: aparecer 2s ease-out;
}

@keyframes aparecer{
	from {opacity: 0; transform: translateY(-20px);}
	to { opacity:1; transform: translateY(0);}	
}

.resalta{
	color: #003366;
	font-weight: bold;
	background: #9bbfe5;
	padding: 5px 10px;
	border-left: 4px solid #003366;
}

footer{
	background: #e59bbf;
	color: white;
	text-align: center;
	padding: 20px;
	margin: 10px;
	
}

/*
	Puntos clave:
	-El diseño de la página deber ser adaptable a la pantalla, de tal forma que reorganiza el contenido de la misma
	-Es indispinsable su manejo hoy dia
	-La idea es mejorar la exp del usuario
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	Unidades:
	% es para anchos fluidos
	em y rem solo para tipografía
	vh para la Altura
	vw para el Ancho
*/

/* 
estilo para responsive design

768px es el promedio de pantallas medianas

480px es el promedio de pantallas pequeñas

*/
@media (max-width:768px){
	body{
		background:yellow;
	}
	caja{
		background: gray;
		width: 20%;
	}
}

@media (max-width:480px){
	body{
		background: red;
	}
	caja{
		background: #F54927;
		width: 10%;
	}
}

/* 
 select #1 
p{
	background:gray;
}
 select #2 
.cuerpo{
	background:white;
}

 select #3 
#cuerpoEspecial{
	background:yellow;
}

*/